<?xml version="1.0" encoding="UTF-8"?>
<plugins>
  <pyqgis_plugin name="Sistema CAD" version="1.6">
    <description>Plugin para gestão e cadastro georreferenciado.</description>
    <version>1.6</version>
    <qgis_minimum_version>3.0</qgis_minimum_version>
    <file_name>sistema_cad.zip</file_name>
    <author_name>Vinicius Melo Rodrigues</author_name>
    <download_url>https://raw.githubusercontent.com/VinniMelo1507/repositorio_sistema_cad/main/dist/sistema_cad.zip</download_url>
  </pyqgis_plugin>

  <pyqgis_plugin name="Leitor de Matrículas" version="1.1">
        <description>Plugin faz a leitura de matriculas em pdf e desenha o poligono no mapa.</description>
        <about>Automação de representação.</about>
        <version>1.1</version> <!-- A versão que está no metadata.txt dele -->
        <qgis_minimum_version>3.0</qgis_minimum_version>
        <file_name>leitor_matriculas.zip</file_name>
        <author_name>Vinicius Rodrigues</author_name>
        <!-- Importante: O link de download do ZIP do NOVO plugin -->
        <download_url>https://github.com/VinniMelo1507/leitor_matriculas_qgis/main/dist/leitor_matriculas.zip</download_url>
    </pyqgis_plugin>

  <pyqgis_plugin name="PluginObservatorio" version="1.0.0">
        <description>Consulta de inscrições imobiliárias do Observatório de Aracaju.</description>
        <about>Observatório de Aracaju</about>
        <version>1.0.0</version> <!-- A versão que está no metadata.txt dele -->
        <qgis_minimum_version>3.0</qgis_minimum_version>
        <homepage>https://github.com/VinniMelo1507/plugin_observatorio</homepage>
        <file_name>plugin_observatorio.zip</file_name>
        <author_name>Ariel Louam</author_name>
        <!-- Importante: O link de download do ZIP do NOVO plugin -->
        <download_url>https://github.com/VinniMelo1507/leitor_matriculas_qgis/main/dist/pluginobservatorio.zip</download_url>
    </pyqgis_plugin>

</plugins>
